*.env
data_fix_version_202204.json
data.json
*.csv
*.xlsx
*.ipynb
__pycache__/
.ipynb_checkpoints/
scraper/venv/""
scraper/*.env
scraper/.idea/
models/*.env
models/*.json
models/__pycache__/
models/.ipynb_checkpoints/
models/model_codes/baseline/__pycache__